{% extends 'tasks_app/layout.html' %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
</head>

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'user_profile/css/profile.css' %}">
<body>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-picture">
                <img src="{{ profile.profile_picture.url }}" alt="{{ profile.first_name }} {{ profile.last_name }}">
            {% if show_edit_button %}
                <a class="edit-button" href="{% url 'profile' %}">Редактировать</a>
            {% endif %}
            </div>
            <div class="profile-info">
                <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
                <p>Email: {{ profile.email }}</p>
                <p>Город: {{ profile.city }}</p>
                <p>Telegram: <a href="{{ profile.telegram_url }}">{{ profile.telegram_url }}</a></p>
                <p>YouTube: <a href="{{ profile.youtube_url }}">{{ profile.youtube_url }}</a></p>
                <p>VK: <a href="{{ profile.vk_url }}">{{ profile.vk_url }}</a></p>
                <p>Средний рейтинг: {{ average_stars|floatformat:'2'|default:"Нет отзывов" }}</p>
            </div>

        </div>

        <button id="comments-button">Показать комментарии</button>

        <div id="comments-section" style="display: none;">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="review">
                        <p>{{ review.content }}</p>
                        <p>Рейтинг: {{ review.stars }}</p>
                        <p>Дата: {{ review.created_at }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет отзывов.</p>
            {% endif %}
        </div>
    </div>

    <script>
        document.getElementById('comments-button').addEventListener('click', function() {
            const commentsSection = document.getElementById('comments-section');
            commentsSection.style.display = commentsSection.style.display === 'none' ? 'block' : 'none';
        });
    </script>
</body>
</html>
{% endblock %}
