{% block title %}Настройка профиля{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'user_profile/css/profile_settings.css' %}">
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body text-center">
            <h3>Настройки аккаунта</h3>
            <img class="profile-picture" id="preview" src="{{ request.user.profile.profile_picture.url }}">
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="fileInput" name="profile_picture" accept="image/*" onchange="previewImage()">

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button class='color-btn' type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>

<script>
    function previewImage() {
        var preview = document.getElementById('preview');
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "{{ request.user.profile.profile_picture.url }}";
        }
    }
</script>
{% endblock %}
