{% extends 'tasks_app/layout.html' %}

{% block title %}TS{% endblock %}


{% block content %}

<div class="center">
    <div class="wrapper">
        <div class="card">
            <a href="{% url 'category' %}">
                <h1>
                    <span class="enclosed">Доверь свою задачу профессионалом</span>Или найди её для себя!
                </h1>
            </a>
        </div>
    </div>
</div>

<div class="searching">
    <form id="search" action="{% url 'home' %}" method="GET">
        <svg viewBox="0 0 420 60" xmlns="http://www.w3.org/2000/svg">
            <rect class="bart" height=""/>

            <g class="magnifier">
                <circle class="glass" r=""/>
                <line class="handle" x1="32" y1="32" x2="44" y2="44"></line>
            </g>

            <g class="sparks">
                <circle class="spark"/>
                <circle class="spark"/>
                <circle class="spark"/>
            </g>

            <g class="burst pattern-one">
                <circle class="particle circle"/>
                <path class="particle triangle"/>
                <circle class="particle circle"/>
                <path class="particle plus"/>
                <rect class="particle rect"/>
                <path class="particle triangle"/>
            </g>
            <g class="burst pattern-two">
                <path class="particle plus"/>
                <circle class="particle circle"/>
                <path class="particle triangle"/>
                <rect class="particle rect"/>
                <circle class="particle circle"/>
                <path class="particle plus"/>
            </g>
            <g class="burst pattern-three">
                <circle class="particle circle"/>
                <rect class="particle rect"/>
                <path class="particle plus"/>
                <path class="particle triangle"/>
                <rect class="particle rect"/>
                <path class="particle plus"/>
            </g>
        </svg>
        <input type="search" name="q" aria-label="Search for inspiration" required placeholder="Поиск..."/>
        <!-- <button type="submit">🔍</button> -->
    </form>
</div>



<div class="donation-link">
    <a target="_blank" href="https://www.donationalerts.com/r/onnnyxxx">
        <span class="donate-icon">💸</span>
    </a>
</div>


<footer class="footer">
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="{% url 'about' %}">О нас</a></li>
        <li class="menu__item"><a class="menu__link" href="{% url 'category' %}">Категории</a></li>
        <li class="menu__item"><a class="menu__link" target="_blank" href="https://www.donationalerts.com/r/onnnyxxx">Поддержать
            проект</a></li>
        <li class="menu__item"><a class="menu__link" target="_blank" href="https://t.me/tasks_community">Мы в
            Telegram</a></li>
    </ul>
    <p>&copy;2024 Все права защищены</p>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}
