{% extends 'tasks_app/layout.html' %}
{% load static %}

{% block title %}Чат{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'user_messages/css/detail.css' %}">

<div class="col">
    <a class="arrow-3" href="/message/">

        <svg class="arrow-3-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <g fill="none" stroke="#337AB7" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                <circle class="arrow-3-iconcircle" cx="16" cy="16" r="15.12"></circle>
                <path class="arrow-3-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
            </g>
        </svg>
    </a>
    <a href="{% url 'user_profile' interlocutor.id %}" class="user-link">
        <img class="profile-pic" src="{{ interlocutor.profile.profile_picture.url }}">
        {{ interlocutor.profile.first_name }} {{ interlocutor.profile.last_name }}
    </a>
    <div class="dropdown">
        <button class="dropbtn">⋮</button>
        <div class="dropdown-content">
            <p style="color: black;">Пока что пусто :-(</p>
            <!--        <a href="#">Setting 1</a>-->
            <!--        <a href="#">Setting 2</a>-->
            <!--        <a href="#">Setting 3</a>-->
        </div>
    </div>
</div>

<div id="here">
    <div class="chat-container">
        {% for message in conversation.messages.all %}
        <div class="message-container {% if message.created_by == request.user %}right{% else %}left{% endif %}"
             {% if forloop.last %}id="last-message" {% endif %}>
            <div class="messages">
                <img class="profile-pic" src="{{ message.created_by.profile.profile_picture.url }}">
                <a href="/me/profile_user/{{ message.created_by.id }}" style="text-decoration: none; color: inherit;">
                </a>
                <p>{{ message.content|linebreaks|urlize }}</p>
                <div class="time_mess" align="right">{{ message.created_at|time:"H:i" }}</div>
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<form method="post">
    {% csrf_token %}
    <div id="message-input-container">
        <img id="profile-pic" class="profile-pic" src="{{ request.user.profile.profile_picture.url }}">
        <input id="message-input" type="text" name="content" placeholder="Введите сообщение" required>
        <button type="submit" class="send-button" style="background-color: #0040FF; border-radius: 50%; padding: 5px 10px;
         color: white; margin-left: 120px;">
            ➤
        </button>
    </div>
</form>

<script src="{% static 'user_messeges/js/messages.js' %}"></script>
{% endblock %}