{% extends 'tasks_app/layout.html' %}
{% load static %}

{% block title %}Сообщения{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'user_messages/css/inbox.css' %}">


{% if conversations %}
<h1 class="mb-6 text-3xl" style="text-align: center;">Сообщения</h1>
{% for conversation in conversations %}
<div class="features">
    <div class="blog_post">
        <div class="space-y-6">
            <a href="{% url 'detail' conversation.id %}">
                <div class="p-6 flex bg-gray-100 rounded-xl">
                    <div>
                        {% for member in conversation.members.all %}
                        {% if member != request.user %}
                        <img class="profile-pic" src="{{ member.profile.profile_picture.url }}">
                        <p class="mb-1 text-sm">{{ member.profile.first_name }} {{ member.profile.last_name }} </p>
                        <hr>
                        <p><strong>Задания:</strong> {{ conversation.item.title }}</p>
                        <hr>
                        <!--                                    <p><strong>Цена:</strong> {{ conversation.item.prise }}</p>-->
                        <!--                                    <hr>-->
                        <p><strong>Сообщения:</strong> {{ conversation.messages.last.content|slice:":20" }}</p>
                        <hr>
                        <div class="time" align="right">{{ conversation.modified_at }}</div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h1 class="mb-6 text-3xl" style="text-align: center;">У вас нет сообщений</h1>
{% endif %}
{% endblock %}